.BuyContents
  %header.BuyContents__header
    = link_to "#" do
      = image_tag 'material/logo/logo.png', height: '49', width: '185'
  %main.Buy
    .BuyContents__container
      .BuyContainerInner
        .BuyContainerInner__title
          %h2 購入内容の確認
        %section.BuyBox
          .BuyBox__image
            = image_tag(@item.images[0].image_url.url,class:"buy-image")
          .BuyBox__detail
            %p.BuyBox__detail__name
              =@item.name
            %p.BuyBox__detail__price
              = number_to_currency(@item.price,format: "%u%n",unit:"¥",precision: 0)
              %span.fee
              (税込み)送料込み
        %section.BuyBox
          .BuyBox__price
            %ul.BuyPrice
              %li.BuyPrice__pay.bold
              %li.BuyPrice--cell 支払い金額
              %li.BuyPrice--cell
                = number_to_currency(@item.price,format: "%u%n",unit:"¥",precision: 0)
        %section.BuyBox
          %h3.address 配送先
          %sending_destination.BuyBox__address
            =@sending_destination.post_code
            %br
            =@sending_destination.prefecture_code
            %br
            =@sending_destination.city
            =@sending_destination.house_number
            %br
            =@sending_destination.destination_family_name
            =@sending_destination.destination_first_name
        %section.BuyBox
          = submit_tag("購入する", class:"buy-btn")
  .BuyContents__footer
    .FooterInner
      %ul
        %li プライバシーポリシー
        %li FURIMA利用規約
        %li 特定商取引に関する表記
      .FooterInner__logo
        = link_to "#" do
          = image_tag 'material/logo/logo.png', height: '49', width: '185'
        %p © FURIMA